---
import Base from "../../layouts/Base.astro";

const projects = [
  {
    title: "ShortDB",
    tech: "Rust, gRPC, SkipLists,FileOps",
    description:
      "Engineered a persistent key-value store with async client-server communication, implementing a LSM-Tree data structure inspired by RocksDB and LevelDB, and applied it in a full-stack application.",
    url: "https://github.com/hrefto/shorterdb",
  },
  {
    title: "Orbit-serverless: A Serverless Platform",
    tech: "Rust, WASM, Actix-web, Actix",
    description:
      "Engineered a Rust-based serverless platform that efficiently hosts user-defined functions by leveraging WebAssembly for lightweight execution, an actor system with Actix for parallelism, and integrated object storage, enabling seamless code compilation and on-demand execution via API calls.",
    url: "https://github.com/fnhub-io/",
  },
  {
    title: "Global Information Tracker",
    tech:"Rust, Clap",
    description:
      "Engineered a global information tracker, a version control system similar to Git, implementing core functionalities like init, cat-file, hash-object, and ls-tree, building a robust CLI with Clap, and utilizing zlib for efficient compression and decompression.",
    url: "https://github.com/vrn21/global_information_tracker",
  },
  {
    title: "Bhashanam: a tui document chat app",
    tech:"Rust, Ratatui, Qdrant, OpenRouter",
    description:
      "Engineered a global information tracker, a version control system similar to Git, implementing core functionalities like init, cat-file, hash-object, and ls-tree, building a robust CLI with Clap, and utilizing zlib for efficient compression and decompression.",
    url: "https://github.com/vrn21/bhashanam",
  },
];

const title = "Projects";
const description = "My Projects";
---

<Base title={title} description={description}>
  <section>
    <h1 class="mb-8 text-2xl font-medium tracking-tight">Projects</h1>
    <div class="space-y-6">
      {
        projects.map((project, index) => (
          <a
            href={project.url}
            target="_blank"
            rel="noopener noreferrer"
            class="block group hover:opacity-80 transition-opacity duration-200">
            <div class="flex flex-col">
              <div class="w-full flex justify-between items-baseline">
                <span class="text-black dark:text-white font-medium tracking-tight">
                  {project.title}
                </span>
                <span class="text-neutral-600 dark:text-neutral-400 tabular-nums text-sm">
                  {project.tech}
                </span>
              </div>
              <p class="prose prose-neutral dark:prose-invert pt-3">
                {project.description}
              </p>
            </div>
          </a>
        ))
      }
    </div>
  </section>
</Base>
